<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout-dashboard}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
    <style>
        .container {
            margin-left: 20px;
        }
    </style>
</head>

<body>
    <div layout:fragment="dashboard"> <!--Toda la información va adentro de este div, no afuera -->
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                <h4 class="mb-0">Lista de Proveedores</h4>
                <a th:href="@{/proveedores/nuevo}" class="btn btn-success btn-sm">+ Nuevo Proveedor</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tablaProveedores" class="table table-striped table-bordered align-middle">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Email</th>
                                <th>Teléfono</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="proveedor, iterStat : ${proveedores}">
                                <td th:text="${iterStat.count}"></td>
                                <td th:text="${proveedor.nombre}"></td>
                                <td th:text="${proveedor.email}"></td>
                                <td th:text="${proveedor.telefono}"></td>
                                <td>
                                    <a th:href="@{'/proveedores/editar/' + ${proveedor.id}}"
                                        class="btn btn-warning btn-sm">Editar</a>
                                    <a th:href="@{'/proveedores/eliminar/' + ${proveedor.id}}"
                                        class="btn btn-danger btn-sm"
                                        onclick="return confirm('¿Seguro que deseas eliminar este proveedor?');">Borrar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Mis JS -->
    <script th:fragment="js"></script>
</body>

</html>