ul .nav-item {

            margin-bottom: 5px;
            border-radius: 5px;
            transition: 0.4s ease;

        }

        ul .nav-item:hover {
            background: #363380;
            background: linear-gradient(45deg, rgba(54, 51, 128, 1) 0%, rgba(9, 84, 171, 1) 24%, rgba(8, 122, 209, 1) 43%, rgba(4, 144, 224, 1) 58%, rgba(2, 161, 240, 1) 73%, rgba(0, 212, 255, 1) 85%);
            transform: scale(1.05);
        }

        #salir {
            transition: .4s ease;
            border-radius: 5px;
            padding: 5px;
        }

        #salir:hover {
            background: #f00202;
            background: linear-gradient(45deg, rgba(240, 2, 2, 1) 20%, rgba(126, 1, 1, 1) 52%, rgba(0, 0, 0, 1) 84%);
            transform: scale(1.05);
        }

        nav {
            background: #020024;
            background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 46%, rgba(0, 212, 255, 1) 100%);
        }

        #hijo {
            background: #ebebeb;
            background: linear-gradient(66deg, rgba(235, 235, 235, 1) 30%, rgba(134, 144, 158, 1) 100%);
        }